.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
} 
.chat-messege-robot {
  display: flex;
  align-items: start;
}
.chat-messege-text{
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-profile {
  width: 45px;
  object-fit: cover;
  border-radius: 45px;
}
.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}