.send-button, .clear-button {
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.send-button{
  background-color: rgb(25, 136, 84);
  color: white;
}
.clear-button{
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
}
.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}